@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Righteous';
    src: url('/fonts/Righteous-Regular.ttf') format('truetype');
}

.teal-shadow {
  box-shadow: 4px 4px 4px 0 rgba(0, 228, 215, 1);
}

.teal-shadow-2 {
  box-shadow: 4px 4px 4px 0 rgb(10, 162, 154);
}

.circle-shadow {
  box-shadow: 4px 4px 4px 0 rgb(21, 21, 21);
}

/* ICONO USUARIO */

.svg-icon {
    width: 1.5em;
    height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #00C8BC;
}

.svg-icon circle {
  stroke: #00C8BC;
  stroke-width: 1;
}

/* ICONO USUARIO ADMIN */

.svg-icon-2 {
  width: 1.5em;
  height: 1.5em;

  padding-right: 1px;
}
.svg-icon-2 path,
.svg-icon-2 polygon,
.svg-icon-2 rect {
  fill: currentColor;
}
.svg-icon-2 circle {
  stroke: whitesmoke;
  stroke-width: 1;
}

/* ICONO TIJERAS ADMIN */

.tijeras-icon {
  margin-left: -3px;
}

.tijeras-icon polygon,
.tijeras-icon rect {
  fill: whitesmoke;
}
.tijeras-icon circle {
  stroke: whitesmoke;
  stroke-width: 1;
}

/* ICONO PRODUCTOS ADMIN */

.productos-icon path {
  fill: currentColor;
}

.productos-icon circle {
  stroke: whitesmoke;
  stroke-width: 1;
}

.admin-email {
  font-size: small;
  font-style: italic;
  font-family: 'Inter', sans-serif;
  font-weight: 200; /* Para ExtraLight */
}

/* ICONO CARRITO */

.carrito-icono{
    fill: #00C8BC;
}

.carrito-icono path,
.carrito-icono polygon,
.carrito-icono rect {
  fill: #00C8BC;
}

/* BANNER.JSX */

.banner-text {
    font-family: Righteous, sans-serif;
    font-size: 4rem;
    color: #333;
}

/* ANIMACION HERO QUIENES SOMOS */

@keyframes slideDown {
  0% {
      height: 0;
  }

  100% {
      height: 100%;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 2s ease-out forwards;
}

.animate-fade-in {
  animation: fadeIn 8s ease-out forwards;
}

/* TRANSICIONES SERVICIOS SECUNDARIOS */

.fade-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms, transform 300ms;
}

/* ESTILOS LOGIN */

@keyframes blob {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, -30px);
  }
  50% {
    transform: translate(-20px, 20px);
  }
  75% {
    transform: translate(10px, 10px);
  }
}

.animate-blob {
  animation: blob 10s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* FILTROS DE PRODUCTOS */

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-input {
  width: 60%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sort-select {
  width: 35%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
